---
import Layout from "../layouts/Layout.astro"

import H1 from "../components/H1.astro"
import BodyText from "../components/BodyText.astro"
---

<Layout>
  <div
    class="container flex max-w-2xl flex-col items-center justify-center space-y-6 py-10 text-center sm:pb-24 sm:pt-14"
  >
    <H1>Oops!</H1>
    <BodyText>
      Looks like you wondered off. Let's get you back on right track.
    </BodyText>
    <a
      href="/"
      class="focus-visible:ring-ring inline-flex h-10 items-center justify-center rounded-md bg-foreground px-4 py-2 text-sm font-medium text-background transition-colors hover:bg-foreground/90 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50"
    >
      Home
    </a>
  </div>
</Layout>
