---
import Shell from "../components/Shell.astro"
import H1 from "../components/H1.astro"
import BodyText from "../components/BodyText.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout>
  <Shell>
    <div class="space-y-2">
      <H1>Background</H1>
      <BodyText>
        From a young age, I've always loved building stuff and solving problems.
        I would go on YouTube and search for DIY and cool stuff I could build
        with my friends. One day, I got curious about how websites, apps, and
        software in general are built and stumbled into the world of coding.
        Since then, my journey has been one of continuous growth and
        exploration. With each line of code written and each project completed,
        I've found fulfillment and purpose in the ever-evolving landscape of
        technology.
      </BodyText>
    </div>

    <div class="space-y-2">
      <H1>Hobby</H1>
      <BodyText>
        I'm not just about code. While I'm busy architecting solutions and
        diving into the latest tech trends, you can find me immersed in gaming
        sessions or exploring the captivating stories of anime.
      </BodyText>
    </div>
  </Shell>
</Layout>
