---
import Layout from "../layouts/Layout.astro"
import Shell from "../components/Shell.astro"
import H1 from "../components/H1.astro"

import { expertise } from "../data/content"
---

<Layout>
  <Shell>
    <div class="text-center">
      <H1>My Expertise</H1>
    </div>

    <div class="grid gap-10 sm:grid-cols-2">
      {
        expertise.map((item) => (
          <div class="shadown-md space-y-4 rounded-md bg-secondary/40 p-6 backdrop-blur sm:p-10">
            <h3 class="text-lg font-semibold sm:text-xl">{item.title}</h3>
            <p class="text-foreground/75">{item.description}</p>
          </div>
        ))
      }
    </div>
  </Shell>
</Layout>
