---
import { siteConfig } from "../config/site"

import { ThemeToggler } from "../components/ThemeToggler"
---

<footer
  class="container flex max-w-5xl flex-col items-start gap-20 py-8 sm:flex-row sm:gap-40"
>
  <section class="flex items-start gap-20">
    {
      siteConfig.footerNav.map((item) => (
        <ul class="space-y-8">
          <h4 class="font-medium">{item.title}</h4>
          <div class="space-y-6">
            {item.items.map((item) => (
              <li>
                <a
                  class="text-foreground/75 transition-colors hover:text-foreground"
                  href={item.href}
                >
                  {item.title}
                </a>
              </li>
            ))}
          </div>
        </ul>
      ))
    }
  </section>

  <section class="flex flex-col items-start justify-start space-y-6">
    <ThemeToggler client:visible />
    <p class="text-foreground/75">
      &copy; 2024 Raphael Awoyinfa. All rights reserved.
    </p>
  </section>
</footer>
