---
import { siteConfig } from "../config/site"
import { cn } from "../lib/utils"

const currentPathname = Astro.url.pathname
---

<header
  class="container sticky top-0 z-50 flex w-full items-center justify-center"
>
  <nav
    class="mt-10 rounded-full border-secondary bg-secondary/40 p-4 backdrop-blur supports-[backdrop-filter]:bg-secondary/30"
  >
    <ul class="flex items-center space-x-4">
      {
        siteConfig.mainNav.map((item) => (
          <li>
            <a
              href={item.href}
              class={cn(
                "rounded-full px-[0.625rem] py-[0.375rem] text-sm sm:px-4 sm:py-2 md:text-base lg:text-lg",
                {
                  "bg-secondary/60": currentPathname === item.href,
                }
              )}
            >
              {item.title}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>
../config/site ../lib/utils
